.form-inputs  {
    width: 50%;
    margin: auto;
    margin-top: 200px;
}

.hpg-message  {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo-img  {
    size: auto;
}
.center-btn  {
  margin: 0 auto;
  display: block;
}

img {
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #fff;
}

a:hover {
    color: #B58900
}