{% extends 'base.html' %}
{% block content %}


<h3 class="hpg-message">Research potential employers efficiently! Find out what they do, check out their social media, and see how they're funded all in one place.</h3>

<div id="banner"> 
    <form action="/search" class="lead" method="GET">
        <div class="form-inputs">
        <input type="text" name="company_searched" placeholder="Enter company name" required>
        <input type="submit" class="btn btn-primary" value="search"> 
        </div>   
    </form>
</div>


{% endblock %}